body{
    font-family: 'Marcellus SC', serif;
}

img {
    width: 100%;
    }

section{
    padding-top: 40px;
}
.orange{
    color: orange !important;
}
h2, h3{
    text-align: center;
}
ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

.titre{
    font-size: 20px;
}

#skills{
    background: rgb(90, 90, 90);
    padding: 30px;
}

@media screen and (max-width: 450px) {
    h2{
        margin: 50px 0;
        font-size: 30px;
    }
    .fa-3x{
        font-size: 2em !important;
    }
}
@media screen and (min-width: 450px) {
    h2{
        margin: 50px 0;
        font-size: 50px;
    }
    .fa-3x{
        font-size: 3em !important;
    }
}

#skills ul li{
    padding: 10px 30px;
}

#skills h3{
    font-size: 35px;
}

.progress{
    border: 1px solid #fff;
}

/*EDUCATION*/

#formation {
    background: rgb(161, 161, 161);
}

.block{
    padding: 50px;
}

.formation-block{
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #ddd;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: -4px -2px 5px black;
}

.date{
    color: #030405;
    font-size: 15px;
}

.formation-block .fas{
    margin: 20px auto;
}

.formation-block h3{
    color: rgb(179, 138, 6);
    font-weight: bold;
}

.formation-block h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.formation-block p {
    padding: 0 30px;
}

hr{    
    border: 0;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to right, 
rgba(29, 28, 34, 0.938), rgba(17, 25, 63, 0.171), rgba(29, 28, 34, 0.938));
}

#timeline{
    background: rgb(214, 214, 214);
}
#timeline{
    padding-bottom: 100px;
}

.chrnologie{
    border-radius: 40px 40px 0 0;
    box-shadow: 4px 2px 5px black;
}

#hobbies hr{
    margin: 40px 0;
}

#hobbies li{
    margin: 20px 0;
}

.hobbies-block{
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #ddd;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow:inset -4px -2px 5px black;
}

.hobbies-block h3{
    font-size: 40px;
    color: rgb(179, 138, 6);
    font-weight: bold;
}

.hobbies-block h4{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

#contact{
    background: orange;
    padding: 50px;
}

a{
    text-decoration: none;
    margin-right: 20px;
}
a.button { 
    color: black; 
    }
a.button:hover{
    color:#fff;
}

.copy{
    margin-top: 50px;
    text-align: center;
}
